.button {
  padding: calc(10px + 8 * (100vw / 1920)) calc(15px + 35 * (100vw / 1920));
  border-radius: 20px;
  color: white;
  background-color: #30676e;
  border: 0px;
  cursor: pointer;

  min-width: calc(175px + 58 * (100vw / 1820));

  -webkit-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);

  transition: 0.3s;
}

.button_phone {
  padding: 0;
  margin: 0;
}

.button-request {
  padding: calc(5px + 5 * (100vw / 1920)) calc(15px + 35 * (100vw / 1920));
}

.search-button {
  position: absolute;
  right: 4px;
  background-color: #4285f4;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 24px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}
.search-button:hover {
  background-color: #357ae8;
}
