button{
    padding: calc(10px + 8 * (100vw / 1920)) calc(15px + 35 * (100vw / 1920));
    border-radius: 20px;
    color: white;
    background-color: #30676E;
    border: 0px;
    cursor: pointer;

    min-width: calc(175px + 58 * (100vw / 1820));

    -webkit-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);

    transition: .3s;
}

.button_name{
    padding: 0;
    margin: 0;
}

.button-request{
    padding: calc(5px + 5 * (100vw / 1920)) calc(15px + 35 * (100vw / 1920));
}

.form_problem_button{
    height: 100%;
    min-width: 223px ;
}
