@media (max-width: 850px){

    .header_adress_link{
        display: none;
    }
}

@media (min-width: 600px){

    .menu-btn{
        display: none !important;
    }

}

@media (max-width: 600px){

    .header_logo, .header_nav-button{
        display: none;
    }

    .wrapper_header-menu{
         justify-content: flex-end !important;
    }

}
