@media (max-width: 1210px) {

.preview_background {
    height: 100%;
}

    .preview {
        max-height: 100%;
    }

    .preview_blocks_elem {
        width: calc(120px + 150 * (100vw / 1248));

    }
}

@media (min-width: 600px) {}

@media (max-width: 600px) {}
