body{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.container {
    position: relative;
    max-width: 1620px;
    margin: 0 auto;
}
