body{
    margin: 0;
    padding: 0;
     display: flex;
    flex-direction: column;
    height: 100%;
}

li{
    list-style: none;
}

a{
    position: relative;
    text-decoration: none;
    color: black;
}

.container {
    position: relative;
    max-width: 1620px;
    margin: 0 auto;
}
