body{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    position: relative;
    text-decoration: none;
    color: black;
}

.container {
    position: relative;
    max-width: 1820px;
    margin: 0 auto;
}

.white{
    color: white;
}
